{% extends "base.html"%}

{%block head%}
<title>Collections</title>
{%endblock%}
{%block body%}
<div class="content">
    <h1>Collections</h1>

    <div class="nav-bar">
        
        <a href="{{ url_for('home_page', movie_list='now_playing') }}" class="items-nav-bar"> Home </a> 
        <a href="{{ url_for('search_movies') }}" class="items-nav-bar"> Movies </a>
        <a href="{{ url_for('search_tvs') }}" class="items-nav-bar"> TVs </a>
           
               
    </div>

    <div class="search-bar">

        <form action="/collections" method="GET">
            <input type="text" name="content" id="content">
            <input type="submit" value="Search">
        </form>
    </div>

    {% if chunks %}
         
        {%for chunk in chunks%}
            <div class="items-row">
                {% for collection in chunk %}

                <div class="box-1">
                    <div class="flip">
                        <div class="frontside">
                            <img
                            src="https://image.tmdb.org/t/p/w200{{ collection['poster_path'] }}"
                            alt="Poster">
                            
                        </div>
                        <div class="backside">
                            
                            <h3 class="hidden-text">{{ collection["overview"] }}</h3>
                           <a href="{{ url_for('get_collection', id=collection['id']) }}" class="hidden-text">view</a>

                        </div>
                    </div>
                    
                </div>

                {% endfor %}
            </div>
        {% endfor %}

    {% else %}
    <p>No collections found</p>
    {% endif %}
</div>
{%endblock%}
