{% extends "base.html"%}

{%block head%} 

{%endblock%}

{%block body%}
<div class="content">
    <h1>Collections</h1>

    <form action="/collections" method="GET">    
        <input type="text" name="content" id="content">
        <input type="submit" value="Search Movie">
    </form>
        
    {% if collections %}
        <h2>Total: {{ total_results }}</h2>
        {% for collection in collections %}
    
                <div class="box-1">  
                    <img src="https://image.tmdb.org/t/p/w200{{ collection['poster_path'] }}" alt="Movie Poster">

                    <h2>{{ collection.get("name", "title") }}</h2>
                    <ul>
                        <li>Overview: {{ collection["overview"] }}</li>
                        <li>ID: {{ collection["id"] }}</li>
                    </ul>
                </div>
            
        {% endfor %}


    {% else %}
    <p>No collections found</p>
    {% endif %}
</div>

{%endblock%}
