{% extends "base.html" %}

{% block head %}


{% endblock %}


{%block body%}

<div class="content">

    <div class="nav-bar">
        
        <a href="{{ url_for('home_page') }}" class="items-nav-bar"> Home </a>
        <a href="{{ url_for('search_tvs') }}" class="items-nav-bar"> TVs </a>
        <a href="{{ url_for('search_collections')}}" class="items-nav-bar"> Collections </a>
           
               
     </div>

     <div class="search-bar">

        <form action="/movies" method="GET">
            <input type="text" name="content" id="content">
            <input type="submit" value="Search">
        </form>
    </div>
     <div>


        {% for movie in now_playing %}

            <h2>{{movie}}</h2>
        
            {%endfor%}
     </div>

</div>




{%endblock%}